<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets 'bundles/app/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="container">

    <div class="row">

        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">Title</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
        </nav>


        <div class="row text-center height-px150">
            <span>Ad</span>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <div class="row sidebar-header">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <span class="sidebar-item-text">Categories</span>
                        </div>
                    </div>

                    <div class="row sidebar-item">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <a href="#" class="sidebar-item-text">Movies</a>
                        </div>
                    </div>
                    <div class="row sidebar-item">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <a href="#" class="sidebar-item-text">Sports</a>
                        </div>
                    </div>
                    <div class="row sidebar-item">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <a href="#" class="sidebar-item-text">Fashion</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    {% block body %}
                    {% endblock %}
                </div>


                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    ad
                </div>

            </div>
        </div>
    </div>


</div>

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>