{% extends 'AppBundle::layout.html.twig' %}

{% block body  %}

    <div class="row quiz-item">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center-block">
            <img src="http://www4.pictures.zimbio.com/mp/x1IC3v87hC6s.jpg" class="img-responsive">
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

            <div class="row">
                <a class="title">
                    <p class=" no-margin-top">Pick Your Favorite Disney Songs and We'll Tell You Which Career You Should Have</p>
                </a>
            </div>


            <div class="row">
                <p class="description">Heigh ho, heigh ho, it's off to this quiz we go.</p>
            </div>

        </div>

    </div>

    <div class="row quiz-item">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center-block">
            <img src="http://www4.pictures.zimbio.com/mp/x1IC3v87hC6s.jpg" class="img-responsive">
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

            <div class="row">
                <a class="title">
                    <p class=" no-margin-top">Pick Your Favorite Disney Songs and We'll Tell You Which Career You Should Have</p>
                </a>
            </div>


            <div class="row">
                <p class="description">Heigh ho, heigh ho, it's off to this quiz we go.</p>
            </div>

        </div>

    </div>

    <div class="row quiz-item">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center-block">
            <img src="http://www4.pictures.zimbio.com/mp/x1IC3v87hC6s.jpg" class="img-responsive">
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

            <div class="row">
                <a class="title">
                    <p class="no-margin-top">Pick Your Favorite Disney Songs and We'll Tell You Which Career You Should Have</p>
                </a>
            </div>


            <div class="row">
                <p class="description">Heigh ho, heigh ho, it's off to this quiz we go.</p>
            </div>

        </div>

    </div>

    <div class="row" style="height: 100px">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 100%;">
            <div style="height: 100%;display: inline-block" class="align-middle">
                <span  style="font-size: 30px;">LEFT </span>
            </div>

            <div style="height: 100%;display: inline-block;">
                <span class="align-middle">RIGHT</span>
            </div>

        </div>
    </div>

{% endblock %}